body {
    background-color: #f1f1f1;
}
body, a:hover {
    cursor: url(http://cur.cursors-4u.net/cursors/cur-9/cur862.ani), 
           url(http://cur.cursors-4u.net/cursors/cur-9/cur862.png), 
           progress !important;
}

.img {
    border-radius: 25px;
}